html {
    background: url(../images/bob-van-aubel-ray-bans.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#page-wrap {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    position: relative;
}

.img-rounded {
    float: right;
    border: 1px solid #c0c0c0;
    padding: 5px;
}